name: "Close stale issues"
on:
  schedule:
  - cron: "0 0 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v4
      with:
        stale-issue-message: "This issue has been inactive for 30 days. It will be closed in 7 days unless there is new activity."
        days-before-stale: 30
        days-before-close: 7